body {
  background-image: url("pap.gif");
  background-repeat: no-repeat, repeat;
  background-position: left;
  height: 500px;
  
 }
 .App{
  background-color: rgb(58, 83, 83);
   min-height: 500px;
   width: 400px;
   margin:40px auto;
 }

 #to-do-form input{
   background-color: rgb(177, 223, 223);
   border:0;
   width:200px;
   height:50px;
   padding:0 20px;
   margin: 20px;
   font-size:18px;
   border-radius:10px;

 }

 #to-do-form input:: placeholder{
   color:lightslategrey;
 }

 #to-do-form input:focus,#to-do-form button:focus{
   outline: none;
 }

 #to-do-form button{
   height: 50px;
   width:80px;
   border-radius:5px;
   border:0;
   background-color:rgb(231, 184, 55);
   cursor: pointer;
   font-weight: bolder;
   color:rgb(89, 102, 114);

 }
 .nav-bar{
   background-color: blueviolet;
   flex: 1;
   display:flex;
   flex-direction: row;
   justify-content: flex-end;
   
 }
 .nav-bar > div{
  padding:10px;
  margin-right: 10px;
   
 }

 